# --- IGNORE ---

# Jupyter Notebook
**/..ipynb_checkpoints/
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual Environments
venv/
venv_py3.10/
*.pyc
__pycache__/

# Docker
*.env
*.dockerignore
Dockerfile
docker-compose.override.yml
**/__pycache__/

# Sys
.DS_Store
Thumbs.db

# PyCharm / VSCode / IDEs
.vscode/

# Specific folders
audios.zip
audios/
output/
