version: "3.9"

services:

  jupyter:
    build: .
    command: >
      jupyter lab --ip=0.0.0.0 --no-browser --allow-root
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    env_file:
      - .env
  app:
    build: .
    container_name: editar_audios
    volumes:
      - .:/app
    env_file:
      - .env
    command: python main.py
